// _ __IMPORTS__
@use "../../Shared/styles/vars.module.scss" as vars;

// _ __STYLES__
.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: vars.$greyColor;

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1240px;
  }
}
