// _ __IMPORT__
@use "../../Shared/styles/vars.module.scss" as vars;

// _ __CSS__
.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 120px;
  margin-top: 60px;

  & .container {
    width: 100%;
    max-width: 1240px;
    height: 120px;
    background: gray;
  }
}
