/*
Min - 320
Max - 1000
BP - 650
*/

// _ __IMPORT__
@use "../../Shared/styles/vars.module.scss" as vars;

.wrapper {
  @include vars.chapterMT();
  display: flex;
  justify-content: center;
  width: 100%;

  .container {
    @include vars.base();
    flex-direction: column;
  }
}
