// _ __IMPORTS__
@use "../../../../Shared/styles/vars.module.scss" as vars;

// _ __STYLES__
.wrapper {
  width: 100%;
  background-color: vars.$whiteColor;
  display: flex;
  justify-content: center;
}
.container {
  width: 100%;
  max-width: 1240px;
  height: 95px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  & .logoBlock {
    display: flex;
    gap: 10px;

    & .logotype {
      width: auto;
    }
  }

  & > .menu {
    display: flex;
    gap: 20px;
  }

  & .search {
    position: relative;
    display: inline-block;
    width: 30%;
    display: flex;
    align-items: center;
    gap: 10px;

    & > input::placeholder {
      font-size: 14px;
      color: vars.$darkColor;
    }

    & input {
      box-sizing: border-box;
      background-color: vars.$greyColor;
      padding: 16px 50px;
      border: none;
      border-radius: 30px;
      width: 100%;
      color: vars.$darkColor;

      &:focus {
        outline: none;
      }
    }

    .icon {
      color: vars.$darkColor;
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }

  .menuExtends {
    display: flex;
    gap: 10px;

    & > button {
      background: none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        color: vars.$redColor;
      }
    }

    & .mobileSearch {
      display: block;
    }
  }
}

// ! __MEDIA__
@media (max-width: 850px) {
  .container {
    display: none;
  }
}
