// _ __IMPORT__
@use "../../Shared/styles/vars.module.scss" as vars;

// _ __CSS__
.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 60px;

  .container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1240px;
    overflow: hidden;

    .slider {
      flex: 1;
      min-height: 0;
      align-items: stretch;
      width: 100%;
      gap: 20px;

      .slidesContainer {
        box-sizing: border-box;
        display: block;
        position: relative;
        display: flex;
      }

      .slide {
        display: block;
        opacity: 0;
        width: 100%;
      }

      .active {
        filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.2));
        left: calc(50% - 200px);
        position: relative;
        // width: min-content;
        display: block;
        opacity: 1;
        z-index: 1;
      }

      .neighbor {
        filter: blur(3px);
        position: absolute;
        left: calc(50% + 420px / 2);
        display: block;
        opacity: 0.5;
        z-index: 0;
      }

      .neighborLeft {
        filter: blur(3px);
        left: calc(50% - 400px - 420px / 2);
        position: absolute;
        display: block;
        opacity: 0.5;
        z-index: 0;
      }

      .hidden {
        position: absolute;
        display: block;
        visibility: hidden;
        z-index: 0;
      }

      .arrows {
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        max-width: 1240px;
        gap: 20px;
        padding-right: 50px;
        padding-bottom: 20px;

        & .sliderButton {
          box-sizing: border-box;
          background: none;
          border: none;
          cursor: pointer;
          padding: 10px;
          z-index: 100;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          margin: 0;

          .left {
            left: 10px;
          }
          .right {
            right: 10px;
          }
        }
      }
    }
  }
}

// !Media
@media (max-width: 500px) {
  .wrapper {
    .container {
      .slider {
        .slidesContainer {
        }
        .active {
          // background: white;
          left: calc(50% - 140px);
        }
        .neighbor {
          left: calc(50% + 300px / 2);
        }
        .neighborLeft {
          left: calc(50% - 280px - 300px / 2);
        }
      }
    }
  }
}
