/* #region ~ hlop */
/* ___ шрифт */
/* #region */
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Bebas+Neue&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Space+Grotesk:wght@300..700&display=swap");
body,
* {
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-weight: 400;
}
/* #endregion */

/* ___ общее */
/* #region */
h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 120%;
}
h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 120%;
}
h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 120%;
}
p {
  font-size: 20px;
}
@media (max-width: 1000px) {
  h1 {
    font-size: 40px;
    font-weight: 600;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
  }
}
/* #endregion */

/* ___ Контейнер */
/* #region ~ Контейнер */
.test8__wrapper {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  width: 100%;
  height: 100hv;
}
@media (max-width: 1000px) {
  .test8__wrapper {
    gap: 35px;
  }
}
.test8__container {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
}
/* #endregion ~ Контейнер  */

/* ___ header */
/* #region ~ header */
.test8__header {
  margin-top: 60px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.test8__header__left {
  display: flex;
  justify-content: flex-start;
}
.test8__header__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}
.test8__header__right > nav {
  position: relative;
  color: black;
  cursor: pointer;
}
.test8__header__right > nav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.test8__header__right > nav:hover::after {
  transform: scaleX(1);
}
.test8__menuItem--active {
  font-weight: 800;
}
.test8__header__right--req {
  padding: 35px 20px;
  border: 2px solid black;
  border-radius: 14px;
  background: none;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.test8__header__right--req:hover {
  background-color: #b9ff66;
}
.--hidden {
  display: flex;
}
.--vissible {
  display: none;
}

@media (max-width: 1000px) {
  .test8__header {
    margin-top: 10px;
  }
  .test8__container {
    padding: 0 20px;
  }
  .test8__header__left > img {
    height: 21px;
  }
  .--hidden {
    display: none;
  }
  .--vissible {
    display: block;
  }
  .test8__header__right--req {
    border: 1px solid black;
    padding: 10px 20px;
  }
}
/* #endregion ~ header */

/* ___ настройоки мобильного вида */
/* #region ~ mobileMenu  */
.test8__mobMenu {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  background: white;
  width: 100%;
  height: 100%;
}
.test8__mobMenu__rows {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}
.test8__mobMenu__rows > *:last-child {
  margin-top: 20px;
}
.menu--closeIcon {
  position: absolute;
  display: block;
  right: 20px;
  top: 20px;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* #endregion ~ mobileMenu  */

/* ___ BannerSection */
/* #region ~ BannerSection  */
.test8__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  box-sizing: border-box;
}
.test8__banner--web {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}
.test8__banner--left {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 50%;
}
.test8__banner--right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.test8__banner--right > img {
  max-width: 100%;
  height: auto;
}
.test8__banner--left > div {
  width: 265px;
  height: 68px;
  border-radius: 14px;
  background: #191a23;
  color: white;
  font-size: 20px;
  font-weight: 100;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}
.test8__banner--left > div:hover {
  transform: scale(1.1);
}
.test8__banner__mob {
  display: none;
}
.test8__banner--mobile {
  display: none;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}
/* ___  media */
@media (max-width: 1000px) {
  h1 {
    font-weight: 600;
  }
  .test8__banner--web {
    display: none;
  }
  .test8__banner--mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .test8__banner--left {
    align-items: center;
    width: 100%;
  }
  .test8__banner--mobile img {
    width: 100%;
    height: auto;
  }
  .test8__banner--mobile button {
    height: 60px;
    padding: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* #endregion ~ BannerSection  */

/* ___ Parters */
/* #region ~ Parters  */
.test8__parters {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
}
.test8__partners__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.test8__partners__wrapper > *:last-child {
  margin-right: 20px;
}
.test8__partners__wrapper > *:first-child {
  margin-left: 20px;
}
@media (max-width: 1000px) {
  .test8__partners__wrapper {
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}
/* #endregion ~ Parters  */

/* ___ Services */
/* #region ~ Services  */
.test8__service {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
}
.test8__service__wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.test8__service__wrapper p {
  width: 60%;
}
.test8__service__wrapper h2 {
  background-color: #b9ff66;
  padding: 20px;
}

@media (max-width: 1000px) {
  .test8__service {
    padding: 0 20px;
  }
  .test8__service__wrapper {
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  .test8__service__wrapper p {
    text-align: center;
    width: 100%;
  }
  .test8__service__wrapper h2 {
    width: 100%;
    text-align: center;
    padding: 10px 40px;
  }
}
/* #endregion ~ Services  */

/* ___ Articles */
/* #region ~ Articles  */
.test8__article {
  width: 100%;
  max-width: 1440px;
}
.test8__article__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 0 20px;
}
@media (max-width: 1000px) {
  .test8__article__wrapper {
    grid-template-columns: 1fr;
  }
}

.__darkColor {
  color: #191a23;
}
.__whiteColor {
  color: #f3f3f3;
}
.__greenColor {
  color: #b9ff66;
}
/* ___ card */
.__darkTheme {
  background-color: #191a23;
}
.__whiteTheme {
  background-color: #f3f3f3;
}
.__greenTheme {
  background-color: #b9ff66;
}
.test8__article__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  max-height: 310px;
  border-radius: 44px;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 1);
  gap: 20px;
  border: 1px solid #191a23;
}

.test8__article__card__left {
  display: flex;
  flex-direction: column;
  gap: 93px;
}
.test8__article__card__left h3 {
  padding: 7px;
  width: min-content;
  border-radius: 10px;
  white-space: nowrap;
}
.test8__article__card img {
  height: auto;
  width: 100%;
  max-width: 210px;
  min-width: 100px;
}

/* ********************************* */

.test8__article__card__left__block__link {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.test8__article__card__left__block__link > div {
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 10px;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}

.test8__article__card__left__block__link:hover div {
  animation: round 0.5s ease-in-out 1 forwards;
}
@keyframes round {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

.test8__article__card__left__block__link a {
  display: flex;
  position: relative;
  font-size: 20px;
  font-weight: 100;
  /* color: white; */
  text-decoration: none;
  white-space: nowrap;
}
.test8__article__card__left__block__link:hover a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.test8__article__card__left__block__link a:hover::after {
  transform: scaleX(1);
}

.__urlWhiteTheme:hover::after {
  height: 2px;
  background-color: white;
}
.__urlDarkTheme:hover::after {
  height: 2px;
  background-color: #191a23;
}

@media (max-width: 1000px) {
  .test8__article__card {
    padding: 20px;
    border-radius: 25px;
  }
  .test8__article__card__left__block__link {
    gap: 10px;
  }
  .test8__article__card__left__block__link > div {
    padding: 5px;
    width: 15px;
    height: 15px;
  }
  .test8__article__card__left__block__link a {
    font-size: 14px;
  }
}
/* #endregion ~ Articles  */

/* #endregion ~ header  */

/* #endregion ~ hlop */
