.slider-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1440px;
  padding: 60px 0;
}
/* ___ Стрелки */
/* #region */
/* Стрелки управления */
.swiper-next,
.swiper-prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}
.swiper-next {
  right: 10px;
}
.swiper-prev {
  left: 10px;
}
/* #endregion */

/* ___ слайды */
/* #region */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  opacity: 0.1;
  transition: opacity 0.3s ease;
}
.slide-content__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.content__wrapper__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.content__wrapper__title > h3 {
  color: #b9ff66;
  font-weight: 400;
}
.content__wrapper__title > p {
  color: white;
  font-weight: 100;
  text-align: center;
}
.slide-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
  height: fit-content;
  border: 2px solid #b9ff66;
  border-radius: 25px;
}
.slide-content > p {
  color: white;
  text-align: center;
}
.swiper-slide-active {
  opacity: 1;
}
/* #endregion */

/* ! Media */
@media (max-width: 1000px) {
  .slider-container {
    padding: 20px 0;
  }
  .slide-content {
    border-radius: 15px;
    padding: 20px;
  }
  .swiper-next,
  .swiper-prev {
    width: 20px;
    height: 20px;
  }
}
