*,
body,
html {
  margin: 0;
  padding: 0;
}

/* Кнопка вернуться наза */
.backBtn {
  display: block;
  position: absolute;
  left: 25px;
  top: 25px;
  animation: pulse-right 1s infinite ease-in-out;
}
@keyframes pulse-right {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}
.container {
  max-width: 950px;
}
.container > *:not(:last-child) {
  margin-bottom: 25px;
}

.container-cards > *:not(:last-child) {
  margin-bottom: 15px;
}

/* Основной контейнер */

.container {
  padding: 20px 20px 20px 20px;
}

.container > * {
  margin-bottom: 7px;
}

.container-tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  background: #e2e2e2;
  border: 1px dashed green;
  padding: 10px;
  border-radius: 10px;
}
.container-tags__red {
  height: 54px;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  background: #ffffff;
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px dashed red;
}

/*  */
.container-card {
  padding: 20px;
  background: #e2e2e2;
  border-radius: 10px;
  border: 1px dashed green;
}
.container-card > *:not(:last-child) {
  margin-bottom: 20px;
}
.container-card__name {
  display: block;
  background-color: #ececec;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
}
.container-card__description {
  background-color: #ececec;
  padding: 10px;
  padding-left: 20px;
  border-radius: 10px;
}

.container-card-title {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.container-card-title__block {
  flex: 1 1 calc(33.33% - 20px);
  text-align: center;
  box-sizing: border-box;
}

.container-card-tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20;
}
.container-card__picture {
  display: block;
  box-sizing: border-box;
  width: auto;
  height: min-content;
}
.container-card__picture > img {
  box-sizing: border-box;
  border: 1px dashed red;
  border-radius: 10px;
  display: block;
  width: 100%;
  height: auto;
}
