/* Фон под модальным окном */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.modal-window {
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 750px;
  height: auto;
  background: #e2e2e2;
  text-align: center;
}

.modal-window-container {
  height: 100%;
  width: 100%;
}

.modal-window-container-body-skills {
  padding: 0 10px;
  word-wrap: break-word;
  text-align: left;
}
