// ~ основной темный
$darkColor: #292929;
// ~
$greyColor: #f0efed;
// ~
$redColor: #e75d36;

@mixin base() {
  display: flex;
  width: 100%;
  max-width: 1000px;
}

@mixin chapterMT() {
  margin-top: 40px;
}
