// _ __IMPORTS__
@use "../../../../Shared/styles/vars.module.scss" as vars;

// _ __STYLES__
.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 60px;

  .rights {
    display: flex;
    width: max-content;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
  }

  .cards {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
  }
}

// !Media
@media (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .cards {
      flex-wrap: wrap;
      justify-content: center;
      gap: 0px;
    }
  }
}
