// _ __IMPORT__
@use "../../Shared/styles/vars.module.scss" as vars;

// _ __CSS__
.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    white 0%,
    white 50%,
    vars.$greyColor 50%,
    vars.$greyColor 100%
  );
  margin-top: 60px;

  .subscribe {
    height: 176px;
    box-sizing: border-box;
    background-color: vars.$darkColor;
    width: 100%;
    max-width: 1240px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 64px;
    color: white;
    gap: 20px;

    & > h3 {
      width: 60%;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 14px;

      .sendEmail {
        display: flex;
        justify-content: center;
        width: 100%;
        width: 350px;
        font-size: 20px;
        color: vars.$redColor;
      }

      .error {
        border: 1px solid vars.$redColor;
        animation: horizontal-shaking 0.2s 3;
      }

      & > button {
        position: relative;
        width: 350px;
        height: 45px;
        border: none;
        color: vars.$darkColor;
        background: vars.$whiteColor;
        border-radius: 25px;
        font-size: 16px;
        font-weight: 400;
        transition: 0.2s transform ease-in-out;
        will-change: transform;
        overflow: hidden;

        &::after {
          content: "";
          background-color: vars.$redColor;
          border-radius: 25px;
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          transform: translate(-100%, 0) rotate(20deg);
          transform-origin: top left;
          transition: 0.2s transform ease-out;
          will-change: transform;
          z-index: -1;
        }

        &:hover::after {
          transform: translate(0, 0);
        }

        &:hover {
          border: 2px solid transparent;
          transform: scale(1.05);
          will-change: transform;
        }
      }

      & > input {
        position: relative;
        width: 350px;
        height: 45px;
        border: none;
        border-radius: 25px;
        display: flex;
        // justify-content: center;
        text-align: center;

        &::placeholder {
          position: relative;
          display: flex;
          text-align: center;
        }

        &::content {
          position: relative;
          display: flex;
          text-align: center;
        }
      }
    }
  }
}

// ! Media
@media (max-width: 1000px) {
  .wrapper {
    height: 100%;

    .subscribe {
      height: auto;
      flex-direction: column;

      & > h3 {
        width: 100%;
        text-align: center;
      }
      .form {
        width: 100%;

        & > button {
          width: 100%;
        }
        & > input {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .wrapper {
    .subscribe {
      border-radius: 0;
      padding: 36px 20px;
    }
  }
}

// _ __ANIMATION__
@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
